<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event, data: { remote: true, type: :json } %></td>
        <td><%= event.location %></td>
        <td><%= event.start_time_formatted %></td>
        <td><%= event.end_time_formatted %></td>
        <td><%= link_to "More Info", event, data: { remote: true, type: :json } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="popout-detail" class="hidden" data-close-button>
  <div class="container">
    <h1 id="close-button"><a href="#" data-close-button data-remote="true">X</a></h1>
    <%= render partial: 'events/show', locals: { event: nil } %>
  </div>
</div>
