<p id="notice"><%= notice %></p>

<p>
  <strong>Address line 1:</strong>
  <%= @location.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @location.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @location.district %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @location.post_code %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>
